.msg {
    width: 100%;
    margin: 5px auto;
    padding: 8px;
    border-radius: 5px;
    list-style: none;
}

.success {
    color: green;
    border: 1px solid green;
    background: #bcf5bc;
}

.error {
    color: red;
    border: 1px solid red;
    background: #f5bcbc;
}